ExerciseApp/ExerciseApp/bin/
ExerciseApp/ExerciseApp/obj/
ExerciseApp/packages/System.Xml.XDocument.4.0.11/ref/netstandard1.3/zh-hant/System.Xml.XDocument.xml
ExerciseApp/packages/
ExerciseApp/ExerciseApp/obj
ExerciseApp/.vs/ExerciseApp/v15/.suo
ExerciseApp/ExerciseApp/Resources/Resource.Designer.cs
ExerciseApp/ExerciseApp/ExerciseApp.csproj.user
